body{
    font-family: "Caveat";
}

h1{
    text-align: center;
}

table{
    margin: auto;
}

td{
    width: 100px;
    height: 300px;
    border: 5px solid white;
}

#td1{
    background-color: #264653;
}

#td2{
    background-color: #2A9D8F;
}

#td3{
    background-color: #E9C46A;
}

#td4{
    background-color: #F4A261;
}

#td5{
    background-color: #E76F51;
}